<h1>Add a movie to <%= @list.name %></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, collection: Movie.all.order(:title), prompt: "Choose a movie" %>
  <%= f.input :comment, placeholder: "Why do you like it?" %>
  <%= f.button :submit, "Add movie", class: "btn btn-primary" %>
<% end %>

<%= link_to "Cancel", list_path(@list) %>
